@page
@model API.Views.Navbar.UsersModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Пользователи";
}

<div class="block-reg background-white" class="text-center">
    <h4 class="center">Все пользователи</h4>
    <a type="button" asp-area=""
       asp-controller="User" asp-action="CreateUser">
        Добавить пользователя
    </a>
    <div>
        @foreach (var user in Model.users)
        {
            <div class="card bg-light mb-3" style="width: 15rem;">
                <div class="card-body">
                    <h4 class="card-title">@user.Login</h4>
                    <h5 class="card-title">@user.FirstName @user.LastName</h5>

                    @foreach (var role in user.Roles)
                    {
                        <span class="badge bg-info text-dark">@role.Name</span>
                    }
                    <h5>@user.Email</h5>
                    @if ((User.Identity.IsAuthenticated & User.Identity.Name == user.Login) || User.IsInRole("Admin"))
                    {
                        <a type="button" class="btn btn-primary" asp-area="" asp-controller="User"
                           asp-action="GetUserToUpdate" asp-route-Id="@user.Id">Редактировать</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<style type="text/css">
    .RoleBlock {
        width: 600px;
        padding: 5px;
        padding-right: 30px;
        margin: 5px;
        border: solid 1px black;
    }
</style>
