@page "{id}"
@using API.Views.Pages;
@model UserUpdatePageModel
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "UserUpdate";
}
<div class="block-reg background-white">
    <h4 class="center">Редактирование пользователя</h4>
    <form method="post" asp-controller="User" asp-action="UserUpdateById" asp-route-id="@Model.Id">
        <div asp-validation-summary="ModelOnly"></div>
        <h5 class="center">Выберите роли</h5>
        <div>
            @for (int i = 0; i < Model.CheckRoles.Count; i++)
            {
                <input type="checkbox" asp-for="@Model.CheckRoles[i].RememberMe"
                       value="true" />
                <input type="hidden" asp-for="@Model.CheckRoles[i].roleName"
                       value="@Model.CheckRoles[i].roleName" />
                <label>@Model.CheckRoles[i].roleName</label>
            }

            <div>
                <h6>Введите логин</h6>
                <div class="mrgn">
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h6>Введите эл. полчту</h6>
                <div class="mrgn">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h6>Введите пароль</h6>
                <div class="mrgn">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h6>Введите пароль еще раз</h6>
                <div class="mrgn">
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h6>Введите имя</h6>
                <div class="mrgn">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h6>Введите фамилию</h6>
                <div class="mrgn">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div>
                <input style="margin:5px" type="submit" value="Сохранить" />
            </div>
        </div>
    </form>
</div>